* {
  margin: 0;
  padding: 0;
  line-height: normal; }

body {
  overflow: hidden;
  font-family: "Lato";
  background-color: rgba(0,0,0,0.05);
  background: #fcfcfc; 
}

.super-container {
  background-color: transparent;
}

.instructions-image{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 100%;
  height: 100%; 
    z-index: 101 !important;
    position: absolute;
}

#buttons-container > #spin-button{
  width: 23%;
}

#buttons-container > #clean-button{
  width: 26%;
}

#buttons-container > div{
  height: 52px !important;
  float: left;
  margin-left: 3.2%;
  width: 14.5%;
}

#loading-screen{
  z-index: 999;
  background-color: #000;
}

#no-tokens-screen{
  background: url('../assets/img/nogametokens.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  z-index: 105 !important;
}

.no-server-request{
    display: none;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: cursive;
    background: rgb(65,176,189) !important;
    z-index: 101 !important;
}

.mg-t{
  margin-top: 45%;
}

#play-again > svg{
  cursor: pointer; }

#toplay-amount > div > p{
  text-align: center;
  font-family: "Lato";
  color: white;
  margin-bottom: 14%;
  font-size: 24px; }

.hide {
  opacity: 0 }

div#buttons-container {
    margin-bottom: 7%; }

.layer{
  background-color: rgba(0,0,0,.01);
}

.capitalize {
  text-transform: capitalize; }

.fw-1 {
  font-weight: 100; }

.fw-4 {
  font-weight: 400; }

.no-margin {
  margin: 0px; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.pointer {
  cursor: pointer; }

.circle {
  border-radius: 50%; }

.white {
  background-color: #fff; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.default {
  cursor: default; }

.grey-color {
  color: #c4c4c4; }

.grey {
  background-color: #8c8c8c; }

.green-color {
  color: #009688; }

.green {
  background-color: #009688; }

.red-color {
  color: #ffbeb9 !important}

.red {
  background-color: #c1574f; }

.blue-color {
  color: #03cde5; }

.blue {
  background-color: #03cde5; }

.white-color {
  color: #FFF; }

.white {
  background-color: #FFF; }

.dark-color {
  color: #000; }

.pink-color {
  color: pink; }

.black {
  background-color: #000; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-80 {
  width: 80%; }

.w-70 {
  width: 70%; }

.w-60 {
  width: 60%; }

.w-65 {
  width: 65%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-45 {
  width: 45%; }

.w-30 {
  width: 30%; }

.w-20 {
  width: 20%; }

.f-8 {
  font-size: 8px; }

.f-10 {
  font-size: 10px; }

.f-12 {
  font-size: 12px; }

.f-14 {
  font-size: 14px; }

.f-16 {
  font-size: 16px; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-22 {
  font-size: 22px; }

.f-24 {
  font-size: 24px; }

.f-26 {
  font-size: 26px; }

.f-28 {
  font-size: 28px; }

.f-30 {
  font-size: 30px; }

.f-40 {
  font-size: 40px; }

.f-46 {
  font-size: 46px; }

.f-70 {
  font-size: 70px; }

.no-list {
  list-style: none; }

.shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3)12 }

.low-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.hidden {
  opacity: 0; }

.disp-none {
  display: none; }

.transition, .hidden, .real-hidden {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.slow-transition {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.c-container {
  margin: 0 auto;
  display: flex; }

.radius {
  border-radius: 4px; }

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center; }

  .flex-vb {
  display: flex;
  flex-direction: column;
  justify-content: center; }

  .flex-e {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.f-end {
  justify-content: flex-end; }

.f-start {
  justify-content: flex-start; }

.f-center {
  justify-content: center; }

.wrap {
  flex-wrap: wrap; }

.uppercase {
  text-transform: uppercase; }

.full-container{
  width: 100%;
  height: 100% }

.full {
  width: 100vw;
  height: 100vh; }

.v-margin {
  margin: 20px 0; }

.h-margin {
  margin: 0 20px; }

.margin {
  margin: 20px; }

.m-top-30 {
  margin-top: 30px; }

.v-padding {
  padding: 20px 0; }

.h-padding {
  padding: 0 20px; }

.padding {
  padding: 20px; }

.upercase {
  text-transform: uppercase; }

.flex  {
  display: flex; }

.relative {
  position: relative; }

.disabled { 
  opacity: 0.5;
  pointer-events: none;  }

#bodymovin{
  background-color:#fff;
  width:1120px;
  height:420px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  margin: auto;
  opacity: 1; }
    
.game-container{
  height: 100%;  
  width: 100%;
  background-image: url(../bg2.jpg);
  background-size: cover; 
}

#token-ui{
  background-image: url('../img/token-ui.png');
  background-size: cover;
  width: 450px;
  height: 230px; }

.draggable{
  margin: -5px 0px 0px 0px;
  cursor: pointer; }

#bar{
  z-index: 10;
  background-image: url(../img/bar.png);
  width: 364px;
  height: 10px;
  margin: 80px auto 80px;
  border-radius: 20px;}

#tokens-amount{
  color: #000;
  font-size: 1em;
  top: 29%;
  text-align: center;
  left: 49%;
  font-family: 'Montserrat';
  margin-left: 4px;}

button{
  position: absolute;
  z-index: 999; }

#play-button{
  margin: 0 auto;
  width: 120px;
  z-index: 10}

.points > p {
    color: white;
    font-size: 2em;
    font-family: 'Montserrat'; }

.final-animations{
  margin: 16% 0 0;}

div.final-animation {
    width: 20%;
    margin: 0 2%; }

#points-container .flex-h.space-around{
  margin-top: 32%; }

#final-points-container {
  opacity: 0;
  font-family: 'Montserrat';
  margin: 8% auto;
  width: 100%;
  color: #fff;
  font-size: 22px; }

#points-container{
  font-family: 'Montserrat';
  margin: 5% auto;
  width: 88%;
  color: #fff;
  font-size: 22px;}

#scores{
  width: 100%;
  max-width: 1120px;
  position: absolute;
  top: 0;}

.controls{
  z-index: 99;
  margin: 10px 10px 0 0; }

.scores-container{
  margin: 10px 0 0 10px;
  width: 100px;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;}

#token-container{
  margin-top: 10%;}

#play-again{
  width: 25%;
  margin: -35% auto;
  z-index: 0;
  bottom: 7.5%;
  position: absolute;
  left: 37.5%;}

.animated-points{
  opacity: 0;
  position: absolute;
  color: #cab306;
  font-size: 25px; }

#final-animation{ 
  width: 100%;
  margin: 0 auto;
  position: absolute;}

#token-screen{
  background-image: url('../img/token-bg.jpg'); }

#game-screen{
  background-image: url('../img/bg.jpg'); }

.layer{
  width: 100%;
  z-index: 100;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
   }

#start-button-container{
  position: absolute;
  bottom: 0;
  width: 100%; }

.sound-container{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 106;
  top: 20px;
  left: 20px;
}

.instruction-container{
  width: 30px; 
  height: 30px;
}

#instruction{
  position: absolute;
  width: 100%;
  max-width: 1120px; 
  background-color: rgba(0,0,0,.5);
 }

 .i-size{
  height: 50px;
  width: 50px;
 }

#start-screen {
  background: url('../assets/img/start-screen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#start-button {
  margin: 0 auto;
  width: 180px;
  margin-bottom: 2%;
  z-index: 10; }

#init-screen > div{
  margin: 35% auto;
  height: 90%; }

p#tokens, p#points {
    width: 60px;
    text-align: center; }

.scratchs-container{
  max-width: 52%;
  margin: 0 auto;
  height: 74%;
  margin-top: -2%;
  flex-wrap: wrap; }

.controls-container > div{
  margin: 10px 5px; }

.controls-container{
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  background: rgba(0,0,0,.1);
  border-radius: 5px;}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media screen and (min-width:0\0) {
  .logo{
    top: 14%;
    left: 2%;
  }
}