* {
  margin: 0;
  padding: 0;
  line-height: normal; }

body {
  overflow: hidden;
  font-family: "Lato";
  background-color: rgba(0,0,0,0.05);
  background: #fcfcfc; }

#no-tokens-screen{
  background: url('../assets/img/nogametokens.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

#overlay {
  background: rgba(255, 255, 255, .75)
}

#decline::after {
    content: "X";
}

#decline {
  padding-top: 10px;
  left: 5px;
  width: 40px;
  bottom: 5px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,.2);
}

.capitalize {
  text-transform: capitalize; }

.fw-1 {
  font-weight: 100; }

.fw-4 {
  font-weight: 400; }

.no-margin {
  margin: 0px; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.pointer {
  cursor: pointer; }

.circle {
  border-radius: 50%; }

.white {
  background-color: #fff; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.default {
  cursor: default; }

.grey-color {
  color: #c4c4c4; }

.grey {
  background-color: #8c8c8c; }

.green-color {
  color: #009688; }

.green {
  background-color: #009688; }

.red-color {
  color: #ffbeb9 !important}

.red {
  background-color: #c1574f; }

.blue-color {
  color: #03cde5; }

.blue {
  background-color: #03cde5; }

.white-color {
  color: #FFF; }

.white {
  background-color: #FFF; }

.dark-color {
  color: #000; }

.pink-color {
  color: pink; }

.black {
  background-color: #000; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-80 {
  width: 80%; }

.w-70 {
  width: 70%; }

.w-60 {
  width: 60%; }

.w-65 {
  width: 65%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-45 {
  width: 45%; }

.w-30 {
  width: 30%; }

.w-20 {
  width: 20%; }

.f-8 {
  font-size: 8px; }

.f-10 {
  font-size: 10px; }

.f-12 {
  font-size: 12px; }

.f-14 {
  font-size: 14px; }

.f-16 {
  font-size: 16px; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-22 {
  font-size: 22px; }

.f-24 {
  font-size: 24px; }

.f-26 {
  font-size: 26px; }

.f-28 {
  font-size: 28px; }

.f-30 {
  font-size: 30px; }

.f-40 {
  font-size: 40px; }

.f-46 {
  font-size: 46px; }

.f-70 {
  font-size: 70px; }

.no-list {
  list-style: none; }

.no-link {
  color: inherit;
  text-decoration: none; }

.shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3)12 }

.low-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.hidden {
  opacity: 0; }

.disp-none {
  display: none; }

.transition, .hidden, .real-hidden {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.slow-transition {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.c-container {
  margin: 0 auto;
  display: block; }

.radius {
  border-radius: 4px; }

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.f-end {
  justify-content: flex-end; }

.f-start {
  justify-content: flex-start; }

.f-center {
  justify-content: center; }

.wrap {
  flex-wrap: wrap; }

.uppercase {
  text-transform: uppercase; }

.full-container{
  width: 100%;
  height: 100% }

.full {
  width: 100vw;
  height: 100vh; }

.v-margin {
  margin: 20px 0; }

.h-margin {
  margin: 0 20px; }

.margin {
  margin: 20px; }

.m-top-30 {
  margin-top: 30px; }

.v-padding {
  padding: 20px 0; }

.h-padding {
  padding: 0 20px; }

.padding {
  padding: 20px; }

.upercase {
  text-transform: uppercase; }

.cool-line { 
  background: linear-gradient(141deg, #1e3c7f 0%, #3f3876 75%);
  width: 3px; 
  margin-right: 10px;
  border-radius: 10px; }

.validation-message {
  height: 20px; }

.input-wrapper  {
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 80%;
  margin: 14px auto; }

.form-container input, .form-container textarea, .form-container h3 {
  padding-left: 5px;  }

.input-wrapper input {
  border: none;   
  background-color: transparent; }

.input-wrapper input:focus, button:focus, .posts-container .search-bar > input, .post .title {
  outline: none; }

button:active {
  color: transparent; 
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.8);  }

.input-wrapper input , .input-wrapper i {
  font-size: inherit; }

.flex  {
  display: flex;
  }

.gradient-button  {
  cursor: pointer;
  background: linear-gradient(141deg, #1e3c7f 0%, #3f3876 75%);
  border-radius: 50px;
  padding: 5px 30px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.2);
  border: none;
  font-size: 16px;
  color: #fff;  
  margin: 10px 0; }

.gradient-button.negative {
  background: linear-gradient(141deg, #6f1e7f 0%, #76384b 75%); }

textarea {
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  outline: none; 
  border: 1px solid rgba(0,0,0,.1);}

footer {
  width: 100%;
  position: absolute;
  bottom: 10px;}

.logo-wraper .title {
  height: 22px; }

.logo-wraper img {
  width: 40px;  
  margin-right: 10px;}

input[type=date] {
  background: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0,0,0,0.5);}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #243156; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; }

.icon-button {
  cursor: pointer; 
  margin: 5px; }

.icon-button:hover, .light-button:hover {
  opacity: 0.5;}

.validation-message {
  text-align: center;
  opacity: 0;
  margin: 10px 0 20px;}

.validation-message.active {
  opacity: 0.8;
  color: #e37d7d; }

.light-button {
    border: 1px solid rgba(0,0,0,.05);
    padding: 0px 15px;
    border-radius: 20px;
    height: 30px;
    padding-top: 2px;
    cursor: pointer;}

.light-button i {
  margin: 5px 0px 5px 10px;}

.loader-container {
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  border-radius: 10px;
  z-index: -99;}

  p.positive {
  color: #4CAF50;}

.loader-container .loader {
  border: 5px solid transparent;
  border-top: 5px solid #FFF;}

.loader-container.active {
  z-index: 99;
  opacity: 1}

.loader-container .gradient-button {
  margin-top: 20px; }

button[disabled] {
  opacity: 0.5; }

.radio-wrapper input {
  margin: 0 10px; }

.radio-container {
  background: rgba(0,0,0,0.02);
  padding: 0 20px;
  border-radius: 5px; }

.progress-wrapper {
  margin: 40px auto; 
  width: 60% ;}

.relative {
  position: relative; }

.progress-bar {
  position: relative;
  height: 8px;
  width: 50%;
  border-radius: 10px;
  background: linear-gradient(141deg, #1e3c7f 0%, #3f3876 75%); }

.disabled { 
  opacity: 0.2;
  pointer-events: none;  }
  
.title{
  font-size: 20px; }

#bodymovin{
  background-color:#fff;
  width:1120px;
  height:420px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  margin: auto;
  opacity: 1; }
    
#base_color{
  background-color: blue; }
    
.game-container{
  height: 100%;  
  width: 100%;
  background-image: url(../bg2.jpg);
  background-size: cover; 
}

#amount-container {
border-bottom: 1px solid #000;}

#token-ui{
  background-image: url('../assets/img/amounts.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px auto 0px;
  width: 90%;
  height: 71px; }

.draggable{
  margin: -10px 0px;
  cursor: pointer;
  width: 40px;
  height: 80px;}

#bar{
  z-index: 10;
  background-image: url(../assets/img/bar.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 30px;
  margin: 5% auto;
  border-radius: 20px;}

#tokens-amount{
  color: #2776c5;
  font-size: 4em;
  top: 29%;
  text-align: center;
  left: 49%;
  font-family: 'Montserrat';
  margin: -2% 10px 0px;}

button{
  position: absolute;
  z-index: 999; }

#play-button{
  background: #2196F3;
  position: absolute;
  width: 20%;
  height: 40px;
  bottom: 20%;
  left: 40%;
  color: white;
  border-radius: 10px;
  text-align: center;}

.points > p {
    color: white;
    font-size: 2em;
    font-family: 'Montserrat'; }

.final-animations{
  margin: 16% 0 0;}

div.final-animation {
    width: 20%;
    margin: 0 2%; }

#points-container .flex-h.space-around{
  margin-top: 32%; }

#final-points-container {
  opacity: 0;
  font-family: 'Montserrat';
  margin: 8% auto;
  width: 100%;
  color: #fff;
  font-size: 22px; }

#points-container{
  font-family: 'Montserrat';
  margin: 5% auto;
  width: 88%;
  color: #fff;
  font-size: 22px;}

#scores{
  width: 100%;
  max-width: 1120px;
  position: absolute;
  top: 0;}

.controls{
  z-index: 99;
  margin: 10px 10px 0 0; }

.scores-container{
  margin: 10px 0 0 10px;
  width: 100px;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;}
  
#play-again{
  width: 25%;
  margin: -35% auto;
  z-index: 0;
  bottom: 1.5%;
  position: absolute;
  left: 37.5%;}

.animated-points{
  opacity: 0;
  position: absolute;
  color: #cab306;
  font-size: 25px; }

#fisher-button {
  width: 20%;
  position: absolute;
  bottom: 10%;
  left: 40%; }

#final-animation{ 
  width: 100%;
  margin: 0 auto;
  position: absolute;}

#token-screen{
  background-image: url('../img/token-bg.jpg'); }

#game-screen{
  background-image: url('../img/bg.jpg'); }

.layer{
  background-color: rgba(0,0,0,.02);
  width: 100%;
  z-index: 100;
  max-width: 1120px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto; }

.sound-container{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
}

#start-button {
  margin: 0 auto;
  width: 180px;
  z-index: 10; }

#init-screen > div{
  margin: 35% auto;
  height: 90%; }

p#tokens, p#points {
    width: 60px;
    text-align: center; }

.scratchs-container{
  max-width: 52%;
  margin: 0 auto;
  height: 74%;
  margin-top: -2%;
  flex-wrap: wrap; }

#instructions{
  z-index: 10 }

canvas{
  z-index: 5}

.background {
  top: 0px;
  z-index: -1;
  margin-left: 1%;
  position: absolute;}

.scratch-container {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  width: 30%;
  height: 30%; }

.controls-container > div{
  margin: 10px 5px; }

.controls-container{
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  background: rgba(0,0,0,.1);
  border-radius: 5px;}

#prices > .container{
  margin: 0 auto;
  background: rgba(0,0,0,.1); }

.sparkle{
  width: 80px;
  height: 80px;
  margin: -60px 0px 0px 0px;
  position: absolute;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#post-points-layer,
#post-tokens-layer{
	font-size: 28px;
	color: #fff;
}

.numbers-container{
	margin: 10% auto 0;
}

.logo {
  top: -1.5%;
  left: 6%;
  position: absolute;
  background: url(../img/logo.png);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 30%;
  z-index: -1;}

#prices {
  background: #43d3ff;
  opacity: 0;
  z-index: 0; }

.panel{
  background-image: url(../assets/img/panel.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
}

.score-container{
  margin-top: 20px;
}

.score-container > *{ 
  margin: 0 5px;
}

.panel-button{
  width: 40px;
  height: 40px;
}

div#points-layer, div#tokens-layer, div#final-tokens-layer, div#final-points-layer, div#confetti {
    position: absolute; }

#stars-container{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;}

.final-points{
  z-index: 1000;
  opacity: 0;
  color: white;
  font-size: 44px;
}

.sound-toggle{
  position: absolute;
  cursor: pointer;
}

.fake-btn#fake-btn4{
  height: 110px;
}

.fake-btn {
  width: 12%;
  height: 11%;
  margin: 1% auto;
}

#undersea{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 29%;
  z-index: 100;
}

.action-button{
  width: 22%;
  height: 30%;
  margin: 1% auto;
}

#init-screen{
  background-image: url(../assets/img/start_screen.png);
}

div.tokens-container{
  background-image: url(../assets/img/choose.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 137px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media screen and (min-width:0\0) {
  .logo{
    top: 14%;
    left: 2%;
  }
}