* {
  margin: 0;
  padding: 0;
  line-height: normal !important; }

body {
  font-family: "Montserrat";
  background-color: rgba(0,0,0,0.05);
  background: #fcfcfc; }

.main-container{ 
  position: relative;
  margin: 0 auto;
}

#skip-button {
  position: absolute;
  width: 100%;
  height: 100%;
}

#storytel-container {
  background-image: url('../images/bg.png');
}

#no-tokens-screen{
  background: url('../images/nogametokens.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.no-server-request{
    background: rgb(65,176,189) !important;
    display: none;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: cursive;
    z-index: 105 !important;
}

.mg-t{
  margin-top: 35%;
}

.capitalize {
  text-transform: capitalize; }

.fw-1 {
  font-weight: 100; }

.fw-4 {
  font-weight: 400; }

.no-margin {
  margin: 0px !important; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.pointer {
  cursor: pointer; }

.circle {
  border-radius: 50%; }

.white {
  background-color: #fff; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left !important; }

.t-center {
  text-align: center !important; }

.default {
  cursor: default; }

.grey-color {
  color: #c4c4c4 !important; }

.grey {
  background-color: #8c8c8c; }

.green-color {
  color: #009688 !important; }

.green {
  background-color: #009688; }

.red-color {
  color: #ffbeb9 !important}

.red {
  background-color: #c1574f; }

.blue-color {
  color: #03cde5 !important; }

.blue {
  background-color: #03cde5; }

.white-color {
  color: #FFF !important; }

.white {
  background-color: #FFF; }

.dark-color {
  color: #000; }

.pink-color {
  color: pink; }

.black {
  background-color: #000; }

.h-100 {
  height: 100% !important; }

.w-100 {
  width: 100% !important; }

.w-90 {
  width: 90% !important; }

.w-80 {
  width: 80% !important; }

.w-70 {
  width: 70% !important; }

.w-60 {
  width: 60% !important; }

.w-65 {
  width: 65% !important; }

.w-50 {
  width: 50% !important; }

.w-40 {
  width: 40% !important; }

.w-45 {
  width: 45% !important; }

.w-30 {
  width: 30% !important; }

.w-20 {
  width: 20% !important; }

.f-8 {
  font-size: 8px !important; }

.f-10 {
  font-size: 10px !important; }

.f-12 {
  font-size: 12px !important; }

.f-14 {
  font-size: 14px !important; }

.f-16 {
  font-size: 16px !important; }

.f-18 {
  font-size: 18px !important; }

.f-20 {
  font-size: 20px !important; }

.f-22 {
  font-size: 22px !important; }

.f-24 {
  font-size: 24px !important; }

.f-26 {
  font-size: 26px !important; }

.f-28 {
  font-size: 28px !important; }

.f-30 {
  font-size: 30px !important; }

.f-40 {
  font-size: 40px !important; }

.f-46 {
  font-size: 46px !important; }

.f-70 {
  font-size: 70px !important; }

.no-list {
  list-style: none; }

.no-link {
  color: inherit;
  text-decoration: none; }

.shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3)12 }

.low-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.hidden {
  opacity: 0; }

.disp-none {
  display: none !important; }

.transition, .hidden, .real-hidden {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.slow-transition {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.c-container {
  margin: 0 auto !important;
  display: block; }

.radius {
  border-radius: 4px; }

.flex-h {
  display: flex !important;
  flex-direction: row;
  justify-content: center; }

.flex-v {
  display: flex !important;
  flex-direction: column;
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.f-end {
  justify-content: flex-end; }

.f-start {
  justify-content: flex-start; }

.f-center {
  justify-content: center; }

.wrap {
  flex-wrap: wrap; }

.uppercase {
  text-transform: uppercase; }

.full-container{
  width: 100%;
  height: 100% }

.full {
  width: 100vw;
  height: 100vh; }

.v-margin {
  margin: 20px 0 !important; }

.h-margin {
  margin: 0 20px !important; }

.margin {
  margin: 20px !important; }

.m-top-30 {
  margin-top: 30px !important; }

.v-padding {
  padding: 20px 0; }

.h-padding {
  padding: 0 20px !important; }

.padding {
  padding: 20px !important; }

.upercase {
  text-transform: uppercase; }

.cool-line { 
  background: linear-gradient(141deg, #1e3c7f 0%, #3f3876 75%);
  width: 3px; 
  margin-right: 10px;
  border-radius: 10px; }

.validation-message {
  height: 20px; }

.input-wrapper  {
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 80%;
  margin: 14px auto; }

.form-container input, .form-container textarea, .form-container h3 {
  padding-left: 5px;  }

.input-wrapper input {
  border: none;   
  background-color: transparent; }

.input-wrapper input:focus, button:focus, .posts-container .search-bar > input, .post .title {
  outline: none; }

button:active {
  color: transparent; 
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.8);  }

.input-wrapper input , .input-wrapper i {
  font-size: inherit; }

.flex  {
  display: flex;
  }

.gradient-button  {
  cursor: pointer;
  background: linear-gradient(141deg, #1e3c7f 0%, #3f3876 75%);
  border-radius: 50px;
  padding: 5px 30px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.2);
  border: none;
  font-size: 16px;
  color: #fff;  
  margin: 10px 0; }

.gradient-button.negative {
  background: linear-gradient(141deg, #6f1e7f 0%, #76384b 75%); }

textarea {
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  outline: none; 
  border: 1px solid rgba(0,0,0,.1);}

footer {
  width: 100%;
  position: absolute;
  bottom: 10px;}

.logo-wraper .title {
  height: 22px; }

.logo-wraper img {
  width: 40px;  
  margin-right: 10px;}

input[type=date] {
  background: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0,0,0,0.5);}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #243156; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; }

.icon-button {
  cursor: pointer; 
  margin: 5px; }

.icon-button:hover, .light-button:hover {
  opacity: 0.5;}

.validation-message {
  text-align: center;
  opacity: 0;
  margin: 10px 0 20px;}

.validation-message.active {
  opacity: 0.8;
  color: #e37d7d; }

.light-button {
    border: 1px solid rgba(0,0,0,.05);
    padding: 0px 15px;
    border-radius: 20px;
    height: 30px;
    padding-top: 2px;
    cursor: pointer;}

.light-button i {
  margin: 5px 0px 5px 10px;}

.loader-container {
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  border-radius: 10px;
  z-index: -99;}

  p.positive {
  color: #4CAF50 !important;}

.loader-container .loader {
  border: 5px solid transparent;
  border-top: 5px solid #FFF;}

.loader-container.active {
  z-index: 99;
  opacity: 1}

.loader-container .gradient-button {
  margin-top: 20px; }

button[disabled] {
  opacity: 0.5; }

.radio-wrapper input {
  margin: 0 10px; }

.radio-container {
  background: rgba(0,0,0,0.02);
  padding: 0 20px;
  border-radius: 5px; }

.progress-wrapper {
  margin: 40px auto; 
  width: 60% ;}

.progress-bar {
  position: relative;
  height: 8px;
  width: 50%;
  border-radius: 10px;
  background: linear-gradient(141deg, #1e3c7f 0%, #3f3876 75%); }

.disabled { 
  opacity: 0.2;
  pointer-events: none;  }
  
.title{
  font-size: 20px; }

#bodymovin{
  background-color:#fff;
  width:1120px;
  height:420px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  margin: auto;
  opacity: 1; }
    
#base_color{
  background-color: blue; }
    
.game-container{
  height: 100%;  
  width: 100%;
  background-image: url(../bg2.jpg);
  background-size: cover; 
}

#token-ui{
  background-image: url('../svg/token-ui.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -20%;
  width: 450px;
  height: 230px; }

.draggable{
  margin: -5px 0px 0px 0px;
  cursor: pointer; }

#bar{
  z-index: 10;
  background-image: url(../images/bar.png);
  width: 375px;
  height: 10px;
  margin: 45px auto 80px;
  border-radius: 20px;
  background-size: cover; }

#winning-screen{
  max-width: 1120px;
  width: 100%; 
  z-index: 0;}

#tokens-button{
  width: 140px; }

#tokens-amount{
  color: #000;
  font-size: 1em;
  top: 29%;
  text-align: center;
  left: 49%;
  font-family: 'Montserrat';
  margin: -14px 0px 15px 15px; }

button{
  position: absolute;
  z-index: 999; }

.points > p, .tokens > p {
    color: white;
    font-size: 2em;
    font-family: 'Montserrat'; }

.final-animations{
  margin: 16% 0 0;}

div.final-animation {
    width: 20%;
    margin: 0 2%; }

#points-container .flex-h.space-around{
  margin-top: 32%; }

#final-points-container {
  opacity: 0;
  font-family: 'Montserrat';
  margin: 8% auto;
  width: 100%;
  color: #fff;
  font-size: 22px; }

#points-container{
  font-family: 'Montserrat';
  margin: 5% auto;
  width: 88%;
  color: #fff;
  font-size: 22px;}

#scores{
  width: 100%;
  max-width: 1120px;
  position: absolute;
  top: 0;}

.controls{
  z-index: 99;
  margin: 10px 10px 0 0; }

.scores-container{
  margin: 10px 0 0 10px;
  width: 100px;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;}

.spin-button-container{
  display: none; }

#spin-button{
  margin-bottom: 5% }

#again-button{
  width: 25%;
  margin: 0 auto;
  z-index: 9999;
  bottom: 7.5%;
  position: absolute;
  left: 37.5%;}

.animated-points{
  opacity: 0;
  position: absolute;
  color: #cab306;
  font-size: 25px; }

#final-animation{ 
  width: 100%;
  margin: 0 auto;
  position: absolute;}

.layer{
  background-color: rgba(0,0,0,.02);
  width: 100%;
  z-index: 10;
  max-width: 1120px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto; }

#initial-screen{
  background-image: url('../images/start-screen.jpg'); }

#token-screen {
  background-image: url('../images/bg.png'); }

#play-button{
  margin: 0% auto;
  width: 140px;
  height: 30px;
  /*border: none;
  background-color: rgb(94, 166, 96);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px rgba(0,0,0,.5); */  }

#start-button {
  margin: 8% auto;
  width: 140px;
  /*border: none;
  background-color: rgb(94, 166, 96);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);*/}

#init-screen > div{
  margin: 0 auto;
  height: 90%; }

p#tokens, p#points {
    width: 60px;
    text-align: center; }

#instructions{
  z-index: 4 }

.loading{
  position: absolute;
  z-index: 100;
  background-color: white;
}

.background {
  z-index: 2;
  margin-left: 1%;
  position: absolute;}

.controls-container > div{
  margin: 10px 5px; }

.controls-container{
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  background: rgba(0,0,0,.2);
  border-radius: 5px;
  z-index: 999;}

#keep-playing-button{
  opacity: 0;
  pointer-events: none;
}

#wheel{
  background-image: url('../svg/wheel.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0);
  cursor: pointer; }

#gameplay{
  position: absolute; 
  top: 0;}

p.container {
    background: rgba(0,0,0,.3);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat';
    margin: 5px; }

#support{
  margin-bottom: 11%; }

.final-container > div{
  width: 33%; }

.final-container{
  margin: 40% auto 0; }

.buttons-container{
  cursor: pointer; }

#tokens-to-play{
  margin-right: 2%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #tokens-amount{
    color: #000;
    font-size: 1em;
    top: 29%;
    text-align: center;
    left: 49%;
    font-family: 'Montserrat';
    margin: 34px 0px 15px 15px; }
}