* {
  margin: 0;
  padding: 0;
  line-height: normal; }

body {
  overflow: hidden;
  font-family: "Lato";
  background-color: rgba(0,0,0,0.05);
  background: #fcfcfc; }

.super-container {
  height: 100vh;}

#play-again{
  z-index: 102;
  bottom: 0;
  width: 25%;
  cursor: pointer;
  margin: 0 auto; }

#prizes {
  cursor: pointer;
  z-index: -1; }

#prize-button {
  position: absolute;
  right: 3%;
  bottom: 0;
  cursor: pointer;
  width: 15%;
  z-index: 101; }

.main-container {
  background-color: rgba(0,0,0,.01)
}

#label-indicator {
  height: 40px;
  width: 50%;
  background-position: center;
  background-image: url(../assets/img/level.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#indicator-1 {
  width: 100%;
  height: 40px;
  background-position: left;
  background-image: url(../assets/img/1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#indicator-250 {
  width: 100%;
  height: 40px;
  background-position: right;
  background-image: url(../assets/img/250.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#thin-lighting {
  width: 60px;
  height: 40px;
  background-position: center;
  background-image: url(../assets/img/ray1.png);
  background-size: contain;
  background-repeat: no-repeat;}

#hard-lighting {
  width: 60px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/img/ray250.png') }

#balance-container {
  position: absolute;
  display: block;
  top: 2%;
  height: 75%;
  width: 100%; }

#balance {
  height: 100%;
  margin: 0 auto;
  width: 65%;
  z-index: 10; }

#play-again-container {
  opacity: 0 }

#play-button-container, #play-again-container {
  z-index: 101;
  position: absolute;
  display: block; 
  bottom: 6.5%;
  width: 100%; }

#play-button {
  margin: 0 auto;
  width: 120px;
  z-index: 10; }

#start-button-container {
  position: absolute;
  display: block;
  bottom: 6.5%;
  width: 100%; }

#start-button {
  margin: 0 auto;
  width: 120px;
  z-index: 10; }

#no-tokens-screen{
  background: url('../assets/img/nogametokens.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.no-server-request{
    display: none;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: cursive;
    background: rgb(65,176,189) !important;
}

.mg-t{
  margin-top: 45%;
}

.capitalize {
  text-transform: capitalize; }

.fw-1 {
  font-weight: 100; }

.fw-4 {
  font-weight: 400; }

.no-margin {
  margin: 0px; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.pointer {
  cursor: pointer; }

.circle {
  border-radius: 50%; }

.white {
  background-color: #fff; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.default {
  cursor: default; }

.grey-color {
  color: #c4c4c4; }

.grey {
  background-color: #8c8c8c; }

.green-color {
  color: #009688; }

.green {
  background-color: #009688; }

.red-color {
  color: #ffbeb9 !important}

.red {
  background-color: #c1574f; }

.blue-color {
  color: #03cde5; }

.blue {
  background-color: #03cde5; }

.white-color {
  color: #FFF; }

.white {
  background-color: #FFF; }

.dark-color {
  color: #000; }

.pink-color {
  color: pink; }

.black {
  background-color: #000; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-85 {
  width: 85%; }

.w-80 {
  width: 80%; }

.w-70 {
  width: 70%; }

.w-60 {
  width: 60%; }

.w-65 {
  width: 65%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-45 {
  width: 45%; }

.w-30 {
  width: 30%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.f-8 {
  font-size: 8px; }

.f-10 {
  font-size: 10px; }

.f-12 {
  font-size: 12px; }

.f-14 {
  font-size: 14px; }

.f-16 {
  font-size: 16px; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-22 {
  font-size: 22px; }

.f-24 {
  font-size: 24px; }

.f-26 {
  font-size: 26px; }

.f-28 {
  font-size: 28px; }

.f-30 {
  font-size: 30px; }

.f-40 {
  font-size: 40px; }

.f-46 {
  font-size: 46px; }

.f-70 {
  font-size: 70px; }

.no-list {
  list-style: none; }

.shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3)12 }

.low-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.hidden {
  opacity: 0; }

.disp-none {
  display: none; }

.transition, .hidden, .real-hidden {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.slow-transition {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.c-container {
  margin: 0 auto;
  display: block; }

.radius {
  border-radius: 4px; }

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.f-end {
  justify-content: flex-end; }

.f-start {
  justify-content: flex-start; }

.f-center {
  justify-content: center; }

.wrap {
  flex-wrap: wrap; }

.uppercase {
  text-transform: uppercase; }

.full-container{
  width: 100%;
  height: 100% }

.full {
  width: 100vw;
  height: 100vh; }

.v-margin {
  margin: 20px 0; }

.h-margin {
  margin: 0 20px; }

.margin {
  margin: 20px; }

.m-top-30 {
  margin-top: 30px; }

.v-padding {
  padding: 20px 0; }

.h-padding {
  padding: 0 20px; }

.padding {
  padding: 20px; }

.upercase {
  text-transform: uppercase; }

.flex  {
  display: flex; }

.relative {
  position: relative; }

.disabled { 
  opacity: 0.2;
  pointer-events: none;  }

#bodymovin{
  background-color:#fff;
  width:1120px;
  height:420px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  margin: auto;
  opacity: 1; }
    
.game-container{
  height: 100%;  
  width: 100%;
  background-image: url(../bg2.jpg);
  background-size: cover; 
}

.draggable{
  width: 25px;
  height: 25px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;}

#bar{
  z-index: 10;
  background-image: url(../assets/img/bar.png);
  width: 80%;
  height: 25px;
  margin: 0px;
  border-radius: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#tokens-amount-label {
  color: white; }

#tokens-amount{
  color: #FF5722;
  font-size: 2.5em;
  text-align: center;
  margin-top: 20%;
  font-family: 'Montserrat'; }

button{
  position: absolute;
  z-index: 999; }

.points > p {
    color: white;
    font-size: 2em;
    font-family: 'Montserrat'; }

.final-animations{
  margin: 16% 0 0;}

div.final-animation {
    width: 20%;
    margin: 0 2%; }

.controls{
  z-index: 999;
  position: absolute;
  top: 20px;
  left: 20px;}

.scores-container{
  margin: 10px 0 0 10px;
  width: 100px;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;}

.animated-points{
  opacity: 0;
  position: absolute;
  color: #cab306;
  font-size: 25px; }

#token-screen{
  opacity: 0;
  background-image: url('../assets/img/token-bg.png'); 
  background-position: center;}

.layer{
  width: 100%;
  z-index: 100;
  max-width: 1120px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto; }

.sound-container{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
}

.scratchs-container{
  max-width: 52%;
  margin: 0 auto;
  height: 74%;
  margin-top: -2%;
  flex-wrap: wrap; }

.controls-container > div{
  margin: 10px 5px; }

.controls-container{
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  background: rgba(0,0,0,.1);
  border-radius: 5px;}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media screen and (min-width:0\0) {
  .logo{
    top: 14%;
    left: 2%;
  }
}




/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#loader-screen {
  background-color: rgba(0,0,0,.5)

}