body {
    margin: 0;
    background-color: #fff;
    font-family: 'Adventure';
}
canvas{
    margin: 0px auto !important;
}

p{	
	position: absolute;
	opacity: 0;
}

@font-face {
	font-family: 'Adventure';
	src: url("./assets/Adventure.otf") format("opentype");
}
